<h1 *ngIf="bandNuevo">Agregar País</h1>
<h1 *ngIf="!bandNuevo">{{paisData.pais}} |<small> {{paisData.dominio}}</small> </h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/paises">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form (ngSubmit)="guardarPais( f )" #f="ngForm">
      <div class="form-group">
        <label>Identificador</label>
        <input type="text"
               class="form-control"
               placeholder="ID"
               [(ngModel)]="pais.id"
               name="id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>


      <div class="form-group">
          <label>País</label>
          <input type="text"
                 class="form-control"
                 placeholder="Nombre del País"
                 [(ngModel)]="paisData.pais"
                 [class.is-invalid]="validPais"
                 name="pais"
                 required>
         <small class="form-text text-danger" *ngIf="validPais">Ingrese un país</small>
      </div>

      <div class="form-group">
          <label>Dominio</label>
          <input type="text"
                 class="form-control"
                 placeholder="Dominio"
                 [(ngModel)]="paisData.dominio"
                 [class.is-invalid]="validDominio"
                 name="dominio"
                 required>
          <small class="form-text text-danger" *ngIf="validDominio">Ingrese un dominio</small>
      </div>

      <div class="form-group">
        <label>Continente</label>
        <input type="text"
               class="form-control"
               placeholder="Continente"
               [(ngModel)]="paisData.continente"
               [class.is-invalid]="validContinente"
               name="continente"
               required>
          <small class="form-text text-danger" *ngIf="validContinente">Ingrese un continente</small>
      </div>

      <div class="form-group">
        <label>Población [millones]</label>
        <input type="number"
               class="form-control"
               placeholder="Población"
               [(ngModel)]="paisData.poblacion"
               [class.is-invalid]="validPoblacion"
               name="poblacion"
               required>
          <small class="form-text text-danger" *ngIf="validPoblacion">Ingrese una población</small>
      </div>
      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25"
                >
          <i class="fa fa-save"></i> &nbsp;
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>


