<h1>Listado de Países</h1>
<hr>

<div class="row">
    <div class="col text-left">
      <button (click)="borrarTodo()"
              class="btn btn-danger">
        <i class="fa fa-backspace"></i>
        Eliminar todo
      </button>
    </div>
    <div class="col text-right">
      <button routerLink="/pais/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
</div>

<table *ngIf="!cargando && paises.length > 0"
        class="table mt-3 animated fadeIn faster animated fadeIn faster">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">País</th>
      <th scope="col">Dominio</th>
      <th scope="col">Continente</th>
      <th scope="col">Poblacion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pais of paises; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{pais.data.pais}}</td>
      <td>{{pais.data.dominio}}</td>
      <td>{{pais.data.continente}}</td>
      <td>{{pais.data.poblacion}} millones</td>
      <td>
        <button class="btn btn-info mr-1" [routerLink]="['/pais', pais.id ]">
          <i class="fa fa-pen"></i>
        </button>
        <button class="btn btn-danger" (click)="borrarPais(pais, i)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>

<div *ngIf="!cargando && paises.length === 0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>
