<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="guard.getIsAutenticado()">
        <a class="nav-link" [routerLink]="['/paises']" >Países</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!guard.getIsAutenticado()">
        <a class="nav-link" [routerLink]="['/create-account']">Crear cuenta</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button class="btn btn-outline-info" type="submit" *ngIf="!guard.getIsAutenticado()" [routerLink]="['/login']">Iniciar sesión</button>
      <button class="btn btn-outline-danger" type="submit" *ngIf="guard.getIsAutenticado()" (click)="logout()">Salir</button>
    </span>
  </div>
</nav>
