<h4>Crear cuenta</h4>
<hr>
<form autocomplete="off" [formGroup]="formi" (ngSubmit)="guardar()">

  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <input class="form-control"
               type="text"
               [class.is-invalid]="nombreNoValido"
               placeholder="Nombre"
               formControlName="nombre">
        <small class="form-text text-danger" *ngIf="nombreNoValido">Ingrese 5 letras mínimo</small>
      </div>
    </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
      type="email"
      [class.is-invalid]="correoNoValido"
      placeholder="Correo electrónico"
      formControlName="correo">
      <small class="form-text text-danger" *ngIf="correoNoValido">Ingrese un correo valido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input class="form-control"
      type="password"
      [class.is-invalid]="pass1NoValido"
      placeholder="Contraseña"
      formControlName="pass1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Escriba nuevamente la contraseña</label>
    <div class="col">
      <input class="form-control"
      type="password"
      placeholder="Confirmación de contraseña"
      [class.is-invalid]="pass2NoValido"
      formControlName="pass2">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</div>

</form>
<div class="row">
  <div class="col text-right">
    <a class="form-text text-info" [routerLink]="['/login']">¿Ya tienes cuenta? Click aquí</a>
  </div>
</div>
