<h4>Iniciar sesión</h4>
<hr>
<form autocomplete="off" [formGroup]="formi" (ngSubmit)="iniciarSesion()">

  <div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
      type="email"
      [class.is-invalid]="emailNoValido"
      placeholder="Correo electrónico"
      formControlName="email">
      <small class="form-text text-danger" *ngIf="emailNoValido">Ingrese un correo valido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input class="form-control"
      type="password"
      [class.is-invalid]="passwordNoValido"
      placeholder="Contraseña"
      formControlName="password">
      <small class="form-text text-danger" *ngIf="passwordNoValido">Ingrese una contraseña</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-info btn-block">
        Ingresar
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <a class="form-text text-info" [routerLink]="['/create-account']">¿Aún no tienes cuenta? Click aquí</a>
  </div>
</div>

</form>
